{% extends "layout.html" %}
{% import "macros.html" as macros %}

{% block page_content %}
<div class="row">
    <div class="col-md-9">
    {{ macros.bc(breadcrumb) }}
        <h1>
            {{ node.title }}
        </h1>
        <div class="nodecontent">
            {% if node.modified < 1505819143 %}
                {{ node.body|reformat_body|safe }}
            {% else %}
                {{ node.body|fix_urls|safe }}
            {% endif %}
        </div>
        {% if node.children %}
        <hr>
        <ul class="childrenlist">
            {% for child in node.children|children_sorted %}
            <li>{% if child.children %} &raquo; {% else %} &bull; {% endif %}
                <a href="{{ url_for('main.node', nid=child.nid) }}">{{ child.title }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="col-md-3 text-center">
        <div class="hidden-sm hidden-xs marsu">
            <img class="img-responsive center-block"  src="{{ url_for('static', filename='marsu.gif') }}">
        </div>
        {{ macros.search(searchForm) }}
        <div class="actions">
            <h3>Actions</h3>
            <hr>
            <div class="btn-group-vertical" role="group" aria-label="Actions">
                <a href="{{ url_for('main.node_edit', nid=node.nid, pid=node.parent_id) }}" class="btn btn-default" role="button">
                    Edit
                </a>
                <a href="{{ url_for('main.node_add', pid=node.nid) }}" class="btn btn-default" role="button">
                    Add
                </a>
                <a href="{{ url_for('main.node_outline', nid=node.nid) }}" class="btn btn-default" role="button">
                    Outline
                </a>
                {% if node.children|length == 0 %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Delete</button>
                    <!-- Modal code -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h3 class="modal-title">Confirm to Delete</h3>
                                </div>
                                <div class="modal-body">
                                    <p>Please confirm if it is OK to delete node <strong>{{ node.title }}</strong>!</p>
                                </div>
                                <div class="modal-footer">
                                    <a href="{{ url_for('main.node_delete', nid=node.nid) }}" class="btn btn-danger" role="button">Delete</a>
                                    <a href="{{ url_for('main.node', nid=node.nid) }}" class="btn btn-warning" role="button">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="info">
            <table class="table table-condensed">
                <tr>
                    <td class="text-right">Created:</td>
                    <td class="text-left">
                        {% if node.created < 1268000000 %}
                            <i>legacy</i>
                        {% else %}
                            {{ node.created|datestamp }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">Modified:</td>
                    <td class="text-left">
                        {% if node.modified < 1268000000 %}
                            <i>legacy</i>
                        {% else %}
                            {{ node.modified|datestamp}}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="text-right">RevCount:</td>
                    <td class="text-left">{{ node.revcnt }}</td>
                </tr>
            </table>
            {% if node.modified < 1505819143 %}
                <a href="{{ url_for('main.node_edit', nid=node.nid, pid=node.parent_id) }}" class="btn btn-primary"
                   role="button">
                    Legacy Format !
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
